.StaticBar {
    left: 0;
    top: 0;
    width: 55px;
    background-color: black;
    height: 100vh;
    padding-top: 40px;
    position: fixed;
    display: block;
    margin-left: var(--sidebar-width);
}

.ListItem {
    text-decoration: none;
    font-size: 25px;
    width: calc(55px - 10px);
    height: calc(55px - 10px);
    line-height: calc(55px - 10px);
    list-style: none;
    margin-left: -35px;
    cursor: pointer;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ListItem:hover {
    background-color: var(--secondary);
    border-radius: 5px;

}

.ListIcon {
    vertical-align: middle;
}