.Add-Button {
    background-color: var(--button);
    border: none;
    color: rgb(0, 0, 0);
    width:100px;
    margin-left: 10px;
    padding: 12px 12px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 160px;
}

.Userinput {
    margin-top: 10px;
    margin-left: 10px; 
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    position:absolute;
}

.Emailinput {
    margin-top: 10px;
    margin-left: 270px; 
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    position:absolute;
}

.Passwordinput {
    margin-top:80px;
    margin-left: 10px; 
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position:absolute;
}

.Secondpasswordinput {
    margin-top: 80px;
    margin-left: 270px; 
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    position:absolute;
}

.delButton {
    cursor: pointer;
    width: 15px;
}
.delButton:hover {
    color: var(--button);
}